html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  font-family: Open Sans, sans-serif;
  background-color: #8a71c9;
  color: #ffffff;
  margin: 0 0 1.87rem 0;
}

h1 {
  font-size: 3.7rem;
  font-weight: -300;
}

h2 {
  color: #2a0074;
  font-size: 3.5rem;
}

h3 {
  font-size: 1.3rem;
  font-style: italic;
}

.titulo-verde {
  color: #04ff9f;
}

.titulo-salmao {
  color: #ff9e9e;
}

.titulo-amarelo {
  color: #ffe36d;
}

p {
  font-size: 1.2rem;
}

section {
  width: 60%;
  margin: 0 auto;
}

section section {
  width: 100%;
}

img {
  width: 100%;
  border-radius: 0.6rem;
}

ul {
  list-style-type: none;
  line-height: 2;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #99ffff;
  font-weight: 700;
}

.menu {
  background: #ff6cb5;
  height: 2.5rem;
  max-width: 60%;
  margin: 0 auto;
}

.menu a {
  color: #fff;
  text-decoration: underline;
  font-weight: normal;
}

.menu li {
  display: inline-block;
  line-height: 2.5;
  margin: 0 5.5rem;
}

button {
  background-color: #4800ff;
  border: 1px solid transparent;
  padding: 0.125rem 1.25rem;
  border-radius: 0.187rem;
}
button:hover {
  background: #2a0074;
  cursor: pointer;
}
